html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
    height: 90px;
}

/*кнопка меню*/
.menubtn {
    margin: 10px;
    padding: 5px;
    font-size: 40px;
    cursor: pointer;
    float: left;
}

/*логотив*/
.logo {
    float: right;
    margin-right: 10px;
}

/*боковое меню*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5E9E9E;
    color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    float: left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*слоган клиники*/
.slogan {
    background-color: #FFE4E1;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #F78E00;
    padding: 10px 0px;
}

/*основное пространство окна*/
.content {
    float: left;
    width: 100%;
}

.content h2 {
    text-align: center;
    color: #ffffff;
    background-color: #ACD8E5;
    margin: 10px 0px;
    padding: 15px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

/*результат теста*/
.result {
    background: #ACD8E5;
    width: 100%;
    color: #ffffff;
    padding: 10px;
}

.result h2 {
    width: 100%;
    background: #F78E00;
    padding: 10px 0px;
    color: #ffffff;
    text-align: center;
}

.result button {
    background: #ACD8E5;
    color: #ffffff;
    width: 100%;
}

/*рекомендации в тесте*/
.recommendation {
    width: 100%;
    color: #ACD8E5;
    background: #ffffff;
}

.recommendation h2 {
    width: 100%;
    background: #F78E00;
    padding: 10px 0px;
    color: #ffffff;
    width: 100%;
}

/*тест*/
.test {
    width: 100%;
    text-align: center;
}

.test table {
    width: 100%;
}

.test td {
    width: 50%;
}

.test button {
    background: #5E9E9E;
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
}

.test label {
    color: #89B3B1;
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
}

.test a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    width: 100%;
}

.test td {
    border: 3px solid #ffffff;
    padding: 5px;
}

/*список тестов*/
.testslist {
    width: 100%;
}

.testslist button {
    width: 100%;
    font-size: 25px;
    background: #5E9E9E;
    padding: 10px 0px;
    color: #ffffff;
    margin: 5px 0px;
}

.testlist a {
    padding: 15px 0px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: #ffffff;
    text-align: center;
}

.testlist table {
    background: #5E9E9E;
    border-collapse: collapse;
    width: 100%;
}

.testlist td {
    border: 10px solid #ffffff;
    font-size: 25px;
}

/*страница вопрос доктору и запись на прием*/
.question label {
    color: #89B3B1;
    width: 100%;
    font-size: 20px;
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.question input {
    margin: 10px 20px;
    width: 80%;
    font-size: 14px;
    padding: 10px;
    border-width: 3px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.question select {
    margin: 10px 20px;
    width: 80%;
    font-size: 12px;
    padding: 10px 0px;
    border-width: 3px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.question textarea {
    min-height: 150px;
    margin: 10px 20px;
    width: 80%;
    font-size: 14px;
    padding: 10px;
    border-width: 3px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.question button {
    width: 100%;
    font-size: 25px;
    background: #5E9E9E;
    padding: 10px 0px;
    color: #ffffff;
    margin: 5px 0px;
}

/*дополнительные настройки ля устройст, экран которых меньше 450px*/
@media screen and (max-width: 400px) {
    body {
        margin: 0px !important;
    }

    .menubtn {
        font-size: 40px;
        margin: 0px;
    }

    .logo img {
        width: 100%;
        margin: auto;
    }

    .sidenav a {
    }

    .content {
        width: 100%;
    }

    .result {
        width: 100%;
        padding: 0px;
    }

    .result h2 {
        width: 100%;
        margin: 0 !important;
        padding: 10px 0px !important;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    .result button {
        width: 100%;
    }

    .recommendation {
        width: 100%;
        padding: 0px;
    }

    .recommendation h2 {
        width: 100%;
        margin: 0 !important;
        padding: 10px 0px !important;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }

    .test a {
        width: 100%;
    }

    .test {
        width: 100%;
        text-align: center;
    }

    .test table {
        width: 100%;
    }

    .test button {
        width: 100%;
    }

    .test label {
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }

    .question label {
        color: #89B3B1;
        width: 100%;
        font-size: 20px;
        margin: 10px 20px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }

    .question input {
        margin: 10px 20px;
        width: 80%;
        font-size: 14px;
        padding: 10px;
        border-width: 3px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }

    .question select {
        margin: 10px 20px;
        width: 80%;
        font-size: 12px;
        padding: 10px 0px;
        border-width: 3px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }

    .question textarea {
        min-height: 150px;
        margin: 10px 20px;
        width: 80%;
        font-size: 14px;
        padding: 10px;
        border-width: 3px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }

    .question button {
        width: 100%;
        font-size: 25px;
        background: #5E9E9E;
        padding: 10px 0px;
        color: #ffffff;
        margin: 5px 0px;
    }

    .testslist {
        width: 100%;
        padding: 0px;
    }

    .testslist button {
        width: 100%;
        padding: 10px 0px !important;
        margin: 5px 0px !important;
    }

    .testlist a {
        padding: 15px 0px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        transition: 0.3s;
        color: #ffffff;
        text-align: center;
    }

    .testlist td {
        border: 10px solid #ffffff;
        font-size: 25px;
    }
}