<div class="testslist">
    <button ng-click="openTest(hiddenTest[3])">Тeст на шейный отдел позвоночника</button>
    <div ng-hide="hiddenTest[3].hidden" class="test">
        <div class="instruction">
            Данный тест позволит определить наличие у Вас патологии шейного и поясничного отделов позвоночника.
            Патология грудного отдела позвоночника редко встречается изолированно и обычно сочетается с патологией
            шейного или поясничного отдела. При болях в грудном отделе (торакалгии) позвоночника рекомендуется сначала
            провести ЭКГ и уже затем обратиться к неврологу.
        </div>
        <label>
            1. Головные боли - 1 балл
        </label>
        <br>
        <label>
            2. Головокружение - 1 балл
        </label>
        <br>
        <label>
            3. Скачки давления - 2 балла
        </label>
        <br>
        <label>
            4. Боль в шее - 1 балл
        </label>
        <br>
        <label>
            5. Онемение пальцев рук - 2 балла
        </label>
        <br>
        <label>
            6. Боль в плече - 3 балла
        </label>
        <br>
        <label>
            7. Боль в руке - 2 балл
        </label>
        <br>
        <label>
            8. Боль под лопаткой - 1 балл
        </label>
        <br>
        <label>
            9. Ограничение движения руки - 3 балла
        </label>
        <br>
        <button ng-click="openRes(hiddenTest[3])" class="result">Узнать результат</button>
        <br>
        <div ng-hide="hiddenTest[3].hidresult">
            <div class="result">
                <label>
                    <b>Вариант А. Вы набрали 1 балл.</b>
                    <br>
                    Проблема с шейным отделом позвоночника имеет обратимый характер.
                    Рекомендуется проведение гимнастики, контрастный душ, плавание 2 раза в неделю любым стилем 20-40
                    минут, прогулки на свежем воздухе.
                </label>
                <br>
                <label>
                    <b>Вариант В. Вы набрали 2 балла.</b>
                    <br>
                    У Вас высокая вероятность дискогенной патологии шейного отдела
                    позвоночника. Сделайте МРТ шейного отдела позвоночника на аппарате с напряженностью магнитного поля
                    не менее 1 Тесла. При наличии на снимке МРТ протрузий или межпозвонковых грыж требуется комплексное
                    лечение позвоночника
                </label>
                <br>
                <label>
                    <b>Вариант С. Вы набрали 3 и более балла.</b>
                    <br>
                    У Вас достоверные признаки протрузий или межпозвонковых грыж
                    шейного отдела позвоночника. Необходимы срочные мероприятия по лечению. Сделайте МРТ шейного отдела
                    позвоночника на аппарате с напряженностью магнитного поля не менее 1 Тесла.
                </label>
                <br>
            </div>
            <br>
        </div>
    </div>
    <button ng-click="openTest(hiddenTest[4])">Тест на поясничный отдел позвоночника</button>
    <div ng-hide="hiddenTest[4].hidden" class="test">
        <label>
            1. Дискомфорт в поясничном отделе позвоночника - 1 балл
        </label>
        <br>
        <label>
            2. Преходящая боль в поясничном отделе позвоночника при определенных позах (наклон, повороты и т.д.) - 1
            балл
        </label>
        <br>
        <label>
            3. Боль в поясничном отделе позвоночника более 7 дней - 2 балла
        </label>
        <br>
        <label>
            4. Боль в ягодице - 2 балла
        </label>
        <br>
        <label>
            5. Боль в бедре (наиболее часто по задней поверхности бедра, по передней и по боковой поверхности бедра) - 3
            балла
        </label>
        <br>
        <label>
            6. Боль в голени (если раньше была боль в пояснице и(или) бедре - 3 балла
        </label>
        <br>
        <label>
            7. Боль в стопе (если ранее была боль в пояснице и(или) ноге) - 3 балла
        </label>
        <br>
        <label>
            8. Онемение в ноге - 3 балла
        </label>
        <br>
        <label>
            9. Онемение в стопе - 3 балла
        </label>
        <br>
        <button ng-click="openRes(hiddenTest[4])" class="result">Узнать результат</button>
        <br>
        <div ng-hide="hiddenTest[4].hidresult">
            <div class="result">
                <label>
                    <b>Вариант А. Вы набрали 1 балл.</b>
                    <br>
                    Проблема с поясничным отделом позвоночника имеет обратимый характер. Рекомендуется проведение
                    гимнастики, контрастный душ, плавание 2 раза в неделю любым стилем 20-40 минут, прогулки на свежем
                    воздухе.
                </label>
                <br>
                <label>
                    <b>Вариант В. Вы набрали 2 балла.</b>
                    <br>
                    У Вас высокая вероятность дискогенной патологии поясничного отдела позвоночника. Сделайте МРТ
                    поясничного отдела позвоночника на аппарате с напряженностью магнитного поля не менее 1 Тесла. При
                    наличии на снимке МРТ протрузий или межпозвонковых грыж требуется комплексное лечение позвоночника
                </label>
                <br>
                <label>
                    <b>Вариант С. Вы набрали 3 и более балла.</b>
                    <br>
                    У Вас достоверные признаки протрузий или межпозвонковых грыж поясничного отдела позвоночника.
                    Необходимы срочные мероприятия по лечению. Сделайте МРТ поясничного отдела позвоночника на аппарате
                    с напряженностью магнитного поля не менее 1 Тесла.
                </label>
                <br>
            </div>
            <br>
        </div>
    </div>
    <button ng-click="openTest(hiddenTest[5])">Общий тест</button>
    <div ng-hide="hiddenTest[5].hidden" class="test">
        <div class="instruction">
            Утвердительный ответ — 10 баллов, отрицательный — 5 баллов.
        </div>
        <label>
            1. Вам уже исполнилось 40 лет?
        </label>
        <br>
        <label>
            2. Весите выше нормы на 10 кг и более?
        </label>
        <br>
        <label>
            3. Большую часть дня проводите за компьютером, письменным столом, рулем автомобиля?
        </label>
        <br>
        <label>
            4. Пренебрегаете физкультурой или, напротив, спорт — ваша профессия?
        </label>
        <br>
        <label>
            5. Возделываете грядки, не разгибая спины?
        </label>
        <br>
        <label>
            6. Носите тяжелые сумки, обожаете переставлять мебель?
        </label>
        <br>
        <label>
            7. Всегда пользуетесь лифтом и транспортом, практически не ходите пешком?
        </label>
        <br>
        <label>
            8. Осанка оставляет желать лучшего?
        </label>
        <br>
        <label>
            9. Походка утратила былую легкость?
        </label>
        <br>
        <label>
            10. Движения стали неловкими?
        </label>
        <br>
        <label>
            11. Испытываете затруднения при наклонах?
        </label>
        <br>
        <label>
            12. В юности были чуть выше ростом?
        </label>
        <br>
        <label>
            13. Курите?
        </label>
        <br>
        <label>
            14. Любите сладости, выпечку, торты?
        </label>
        <br>
        <label>
            15. Выпиваете мало жидкости (менее 1,5 л чая, компота, сока, кефира и других напитков в день)?
        </label>
        <br>
        <label>
            16. Постоянно нервничаете, быстро раздражаетесь?
        </label>
        <br>
        <label>
            17. Страдаете плоскостопием?
        </label>
        <br>
        <label>
            18. Жалуетесь на головную боль?
        </label>
        <br>
        <label>
            19. При потягивании и наклонах ощущаете легкое похрустывание или скрип в позвоночнике?
        </label>
        <br>
        <label>
            20. Периодически чувствуете боль в шее и/или спине?
        </label>
        <br>
        <button ng-click="openRes(hiddenTest[5])" class="result">Узнать результат</button>
        <br>
        <div ng-hide="hiddenTest[5].hidresult">
            <div class="result">
                <label>
                    <b>Менее 120 баллов.</b>
                    <br>
                    Поздравьте себя со здоровым позвоночником! Чтобы он и впредь оставался надежной
                    опорой, ведите активный образ жизни.
                </label>
                <br>
                <label>
                    <b>От 125 до 160 баллов.</b>
                    <br>
                    Шея и спина — ваше слабое место. Не ждите, когда они разболятся по-настоящему.
                    Важно остановить остеохондроз на раннем этапе, когда позвоночник еще справляется со своими
                    обязанностями. Сбросьте лишний вес, избавьтесь от вредных привычек, выработайте правильную осанку,
                    плавайте, парьтесь в сауне или бане — тогда и спина болеть не будет.
                </label>
                <br>
                <label>
                    <b>От 165 до 200 баллов.</b>
                    <br>
                    Опоре вашего тела с каждым днем все труднее устоять под натиском
                    остеохондроза. Поскорее обратитесь за
                    помощью к врачам — неврологу, вертебрологу (специалисту по заболеваниям позвоночника) и ортопеду.
                </label>
            </div>
        </div>
        <br>
    </div>
</div>