<div class="testslist">
    <button ng-click="openTest(hiddenTest[6])">Тест на болезнь Альцгеймера</button>
    <div ng-hide="hiddenTest[6].hidden" class="test">
        <div class="instruction">
            Тест на болезнь Альцгеймера онлайн – это быстрый и действенный способ определить свою предрасположенность к
            развитию заболевания. Специалисты утверждают, что никто не застрахован от болезни, мозг человека до сих пор
            таит множество тайн, которые еще предстоит разгадать медиком и ученым. Специалисты говорят о том, что с
            данным заболеванием можно жить полноценной жизнью, если диагностировать его на ранних стадиях и вовремя
            начать лечение.
            <br>
            Искать один раз, можно не спеша.
        </div>
        <label>
            1- Найдите C без помощи курсора.
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOCOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            <br>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
        </label>
        <br>
        <label>
            2- Если вы нашли C, найдите 6.
            <br>99999999999999999999999999999999999999999999999
            <br>99999999999999999999999999999999999999999999999
            <br>99999999999999999999999999999999999999999999999
            <br>69999999999999999999999999999999999999999999999
            <br>99999999999999999999999999999999999999999999999
            <br>99999999999999999999999999999999999999999999999
        </label>
        <br>
        <label>
            3 — Теперь найдите N. Это немного трудней.
            <br>MMMMMMMMMMMMMMMMMMMMMMMMMMMMNMM
            <br>MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
            <br>MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
            <br>MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
            <br>MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
        </label>
        <br>
        <button ng-click="openRes(hiddenTest[6])" class="result">Результат</button>
        <br>
        <div ng-hide="hiddenTest[6].hidresult">
            <div class="result">
                <label>
                    Это не шутка. Если вы выполнили 3 теста, можете не ходить к невропатологу. Ваш мозг работает хорошо,
                    и Альцгеймер вам пока не грозит. Будьте здоровы!!!
                </label>
            </div>
        </div>
    </div>
</div>